body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
}

#heading {
    background: blueviolet;
    text-align: center;
    color: rgb(29, 170, 41);
}

.title {
    background-color: rgb(143, 10, 54);
}

.first .title {
    background-color: #02cc56;
    font-style: oblique;
    font-weight: 100;
}

.list{
    font-style: italic;

    

}