body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
     background-color:beige;
}


#heading {
    background-color: blueviolet;
    font-size: 60px;
}

.title {
    background-color: greenyellow;
}

.description {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}