body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(242, 239, 225);
    font-size: 16px;
    color: rgb(0, 5, 54);
}

.container{
    width: 75%;
    margin: 0 auto;


}

.main-title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    background-color: rgb(60, 100, 190);
    padding: 24px;
    margin-bottom: 96px;
}

.recipe-list a{
    text-decoration: none;
}

.recipe-list{
    list-style: none;
}

.recipe-list li {
    /* display: inline-block; */
    margin-bottom: 50px;
    background-color: rgb(255, 255, 255);
}



.nav{
    text-decoration: none;
}

.secondary-title{
    font-size: 32px;
    text-decoration: underline;
}

.nav-recipe {
    background-color: rgb(75, 120, 12);
    padding: 32px;
    margin-right: auto;
}