body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;

}



h1 {
    background: rgb(26, 59, 243);
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 60px;
    font-weight: small;
    font-family: cursive;
}

li a {
    color: black;
}